# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
devtools_options.yaml

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
.project
.settings/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
.gradle/
android/app/.cxx

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Codegen
lib/common/localization/generated/
**.freezed.dart
**.g.dart
**.g.swift
**.g.kt
**.g.cpp
**.g.h


.sentry-native
.fvm/
.fvmrc
!lib/data/api/swagger/*.g.dart

# Fastlane and Ruby related
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/.env
**/fastlane/.env.default
**/fastlane/AppStoreApiInfo.json
**/Gemfile.lock
**/Podfile.lock
**/.bundle

