---
version: 2
deployment:
  name: iOS • TrustTunnel • Beta
  source-plan: TT-BUILDINGTODEPLOY

release-naming:
  next-version-name: ${bamboo.data.version_title} (${bamboo.data.version} [${bamboo.data.build_number}])
  applies-to-branches: true
  auto-increment: false
  auto-increment-variables: []

environments:
- TestFlight • Beta • 100 ％

TestFlight • Beta • 100 ％:
  triggers: []
  tasks:
    - clean
    - checkout:
        repository: vpn-oss-gui
        path: trusttunnel
        force-clean-build: 'true'
    - checkout:
        repository: git-scripts
        path: git-scripts
        force-clean-build: 'true'
    - artifact-download:
        artifacts:
        - destination: trusttunnel
    - script: mkdir -p "trusttunnel/ios/build" && mv "trusttunnel/TrustTunnel.ipa" "trusttunnel/ios/build/TrustTunnel.ipa"
    - script: trusttunnel/bamboo-specs/scripts/deploy_to_testflight.sh "$PWD/trusttunnel"
  requirements:
    - ephemeral
    - image: registry.int.agrd.dev/macos/tahoe-build-agent-xcode26.1.1:latest
