---
version: 2
deployment:
  name: TrustTunnel • Nightly
  source-plan: TT-BUILDINGTODEPLOY

release-naming:
  next-version-name: ${bamboo.data.version_title} (${bamboo.data.version} [${bamboo.data.build_number}]) android ios
  applies-to-branches: true
  auto-increment: false
  auto-increment-variables: []

environments:
  - Nightly • 100 ％

Nightly • 100 ％:
  description: TrustTunnel nightly builds
  triggers: []
  tasks:
    - clean
    - checkout:
        repository: vpn-oss-gui
        path: trusttunnel
        force-clean-build: 'true'
    - checkout:
        repository: bamboo-deploy-publisher
        path: bamboo-deploy-publisher
        force-clean-build: 'true'
    - checkout:
        repository: git-scripts
        path: git-scripts
        force-clean-build: 'true'
    - artifact-download:
        artifacts:
        - destination: trusttunnel
    - script: ls -la
    - script: mkdir -p "trusttunnel/ios/build" && mv "trusttunnel/TrustTunnel.ipa" "trusttunnel/ios/build/TrustTunnel.ipa"
    - script: trusttunnel/bamboo-specs/scripts/deploy_to_testflight.sh "$PWD/trusttunnel" "$bamboo_submit_beta_review"
    - script: trusttunnel/bamboo-specs/scripts/prepare_release_notes_play_store.sh "${PWD}/release-notes.json"
    - script: bamboo-deploy-publisher/deploy.sh trusttunnel-android-nightly "${PWD}/release-notes.json" "100"
    - script: trusttunnel/bamboo-specs/scripts/increment_version_title_and_push.sh "${bamboo_working_directory}/git-scripts/git_kit.sh"
  requirements:
    - ephemeral
    - image: registry.int.agrd.dev/macos/tahoe-build-agent-xcode26.1.1:latest
